<div id="contentsInner" class="clear">
    <div id="sideAlpha">
        <!--
        <div style="margin-bottom: 5px; "><a href="/plan/" title="限定プラン"><img src="http://www.sushiyoshi-yamasa.jp/images/common/plan_banner.gif" alt="ホームページ開設記念限定プランご紹介" width="210" height="100"></a></div>
        -->
        <ul>
            <li class="alpha"><a href="/menu/" title="おしながき">おしながき</a></li>
            <li class="beta"><a href="/quality/" title="当店のこだわり">当店のこだわり</a></li>
            <li class="gamma"><a href="/about/" title="店内のご案内">店内のご案内</a></li>
            <li class="delta"><a href="/delivery/" title="出前メニュー">出前メニュー</a></li>
            <!--<li class="epsilon"><a href="/shopping/" title="お取り寄せ">お取り寄せ</a></li>
            <li class="close"><img alt="店休日" src="../images/common/close.jpg" width="200" height="25" /><br />6/4(月)、6/11(月)、6/18(月)、6/25(月)</li>
            -->
            <li>
                <img alt="お問い合わせはこちらから" src="/images/common/sideBeta00.gif" width="210" height="30">
                <div
                    style="margin: 0 0 15px 0; padding: 10px; width: 190px; background: #000; font-size: 12px !important;">
                    <strong style="color: #d5c010; font-size: 24px; font-weight: 700; display: block;">
                        <span style="margin: 0 0.1em 0 0; font-size: 20px;">☎</span>0952-20-1239
                    </strong>
                    店舗営業時間／18:00〜23:00<br>
                    店休日／月曜日
                </div>
            </li>
            <li class="zeta">山沙商店「すし芳」宅配専用ダイヤル TEL.0952-20-1238</li>
            <li class="eta"><a href="/access/" title="交通アクセス">交通アクセス</a></li>
        </ul>
    </div>
    <div id="content">
        <div id="path">
            <a href="../">HOME</a> &gt; 店内のご案内
        </div>
        <div id="about">
            <h2>店内のご案内</h2>
            <p>
                佐賀市にある山沙商店「すし芳」は、路地裏を少し入ったところに店を構え、古民家を改装しています。その佇まいは“大人の隠れ家”をイメージしています。<br>
                店内は、オレンジブラウンの明かりに暖かく照らされ、心地よいジャズが流れる落ち着いた雰囲気のお店です。<br>
                ディナーや接待にも最適な空間をご提供いたします。是非ご利用下さい。
            </p>
            <h3>カウンター席（1階・6席）</h3>
            <p>
                カウンターは個室になっていて落ち着いた雰囲気です。ネタケースを覗きながら、お好みのにぎりを味わうのもカウンターの醍醐味では……。<br>
                正面に飾られ存在感のある絵画は、毎月入れ替えをしています。こちらも一見の価値あり。5名様より貸し切りも可能です。
            </p>
            <ul class="clear">
                <li><a href="./images/counter1.jpg" rel="lightbox[counter]" title=""><img src="./images/counter1-s.jpg"
                            alt="" width="160" height="120"></a></li>
                <li><a href="./images/counter2.jpg" rel="lightbox[counter]" title=""><img src="./images/counter2-s.jpg"
                            alt="" width="160" height="120"></a></li>
                <!--<li><a href="./images/counter3.jpg" rel="lightbox[counter]" title=""><img src="./images/counter3-s.jpg" alt="" width="160" height="120" /></a></li>
                <li><a href="./images/counter4.jpg" rel="lightbox[counter]" title=""><img src="./images/counter4-s.jpg" alt="" width="160" height="120" /></a></li>-->
            </ul>
            <h3>テーブル席（2階）</h3>
            <p>
                お座敷は全席掘りごたつ式。天井は吹き抜けで開放感のある空間でお寛ぎいただけます。ご家族、カップル、ご接待に最適で、落ち着いた雰囲気でのお食事に、時間を忘れてお過ごしください。<br>
                完全個室は2席、（4～5名様）、衝立にて仕切られているテーブルが2席（6～8名様）あり、仕切りをはずすと最大30名様まで収容可能です。
            </p>
            <ul class="clear">
                <li><a href="./images/table1.jpg" rel="lightbox[table]" title=""><img src="./images/table1-s.jpg"
                            alt="佐賀市　接待やディナーに「すし芳」" width="160" height="120"></a></li>
                <li><a href="./images/table2.jpg" rel="lightbox[table]" title=""><img src="./images/table2-s.jpg"
                            alt="佐賀市　すし芳の個室でディナー" width="160" height="120"></a></li>
                <li><a href="./images/table3.jpg" rel="lightbox[table]" title=""><img src="./images/table3-s.jpg"
                            alt="佐賀市　すし芳の個室で接待" width="160" height="120"></a></li>
                <li><a href="./images/table4.jpg" rel="lightbox[table]" title=""><img src="./images/table4-s.jpg"
                            alt="佐賀市　すし芳の個室でディナー・接待" width="160" height="120"></a></li>
            </ul>
            <h3>その他</h3>
            <p>
                店内のところどころに、心を癒していただけるように季節の野菜が飾られています。古民家具や小物にも、どこか懐かしくぬくもりが感じられます。<br>
            </p>
            <ul class="clear">
                <li><a href="./images/other1.jpg" rel="lightbox[other]" title=""><img src="./images/other1-s.jpg"
                            alt="季節の野菜" width="160" height="120"></a></li>
                <li><a href="./images/other2.jpg" rel="lightbox[other]" title=""><img src="./images/other2-s.jpg" alt=""
                            width="160" height="120"></a></li>
                <li><a href="./images/other3.jpg" rel="lightbox[other]" title=""><img src="./images/other3-s.jpg" alt=""
                            width="160" height="120"></a></li>
                <li><a href="./images/other4.jpg" rel="lightbox[other]" title=""><img src="./images/other4-s.jpg"
                            alt="小物" width="160" height="120"></a></li>
            </ul>
        </div>
    </div>
</div>