<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title"><%= sushi.title %></h5>
    <p class="card-text"><%= sushi.detail %></p>
    <p class="card-text"><%= sushi.price %></p>
  </div>
</div>