<!-- <div id="content">
    <div id="path">
        <a href="http://localhost:3000">HOME</a>
    </div>
    <div id="menu">
        <h2>おしながき：おまかせ</h2>
        <ul id="categoryNavigation">
            <li><strong>おまかせ</strong></li>
            <li><a href="http://localhost:3000/nigiri">にぎり</a></li>
            <li><a href="http://localhost:3000/alacarte">一品料理</a></li>
            <li><a href="http://localhost:3000/drink">お飲み物</a></li>
        </ul>
    </div>
</div> -->

<div id="contents">
    <div id="contentsInner" class="clear">
        <div id="sideAlpha">
            <!--
			<div style="margin-bottom: 5px; "><a href="/plan/" title="限定プラン"><img src="http://www.sushiyoshi-yamasa.jp/images/common/plan_banner.gif" alt="ホームページ開設記念限定プランご紹介" width="210" height="100"></a></div>
			-->
            <ul>
                <li class="alpha"><a href="/menu/" title="おしながき">おしながき</a></li>
                <li class="beta"><a href="/quality/" title="当店のこだわり">当店のこだわり</a></li>
                <li class="gamma"><a href="/about/" title="店内のご案内">店内のご案内</a></li>
                <li class="delta"><a href="/delivery/" title="出前メニュー">出前メニュー</a></li>
                <!--<li class="epsilon"><a href="/shopping/" title="お取り寄せ">お取り寄せ</a></li>
				<li class="close"><img alt="店休日" src="../images/common/close.jpg" width="200" height="25" /><br />6/4(月)、6/11(月)、6/18(月)、6/25(月)</li>
				-->
                <li>
                    <img alt="お問い合わせはこちらから" src="/images/common/sideBeta00.gif" width="210" height="30">
                    <div
                        style="margin: 0 0 15px 0; padding: 10px; width: 190px; background: #000; font-size: 12px !important;">
                        <strong style="color: #d5c010; font-size: 24px; font-weight: 700; display: block;">
                            <span style="margin: 0 0.1em 0 0; font-size: 20px;">☎</span>0952-20-1239
                        </strong>
                        店舗営業時間／18:00〜23:00<br>
                        店休日／月曜日
                    </div>
                </li>
                <li class="zeta">山沙商店「すし芳」宅配専用ダイヤル TEL.0952-20-1238</li>
                <li class="eta"><a href="/access/" title="交通アクセス">交通アクセス</a></li>
            </ul>
        </div>
        <div id="content">
            <div id="path">
                <a href="../">HOME</a> &gt; おしながき：おまかせ
                <!-- コース  -->
            </div>
            <div id="menu">
                <h2>おしながき：おまかせ
                    <!-- コース  -->
                </h2>
                <div id="categoryNavigation">
                    <ul class="clear">
                        <li><strong>おまかせ
                                <!-- コース  --></strong></li>
                        <li><a href="./nigiri/">にぎり</a></li>
                        <li><a href="./alacarte/">一品料理</a></li>
                        <li><a href="./drink/">お飲み物</a></li>
                    </ul>
                </div>
                <div style="margin-top:50px; margin-bottom:30px">
                    <img src="../images/common/omakase1.jpg" alt="omakase" width="710" height="70">
                </div>
                <!-- <h3>おまかせ</h3> -->
                <div class="menu">
                    <table cellspacing="0" cellpadding="0" border="0" summary="おまかせコース" class="expand">
                        <tbody>
                            <tr>
                                <th>椛（もみじ）<span>小鉢、一品料理、茶碗蒸し、寿司7貫、赤出し</span></th>
                                <td>5,000円</td>
                            </tr>
                            <tr>
                                <th>桜（さくら）<span>小鉢2、刺身、一品料理、茶碗蒸し、寿司7貫、赤出し</span></th>
                                <td>6,000円</td>
                            </tr>
                            <tr>
                                <th>藤（ふじ）<span>小鉢2、刺身、一品料理、天婦羅、茶碗蒸し、寿司8貫、赤出し</span></th>
                                <td>8,000円</td>
                            </tr>
                            <tr>
                                <th>椿（つばき）<span>小鉢3、刺身、一品料理、天婦羅、茶碗蒸し、寿司10貫、赤出し</span></th>
                                <td>10,000円</td>
                            </tr>
                            <tr>
                                <th>極（きわみ）<span>小鉢3、刺身、一品料理、天婦羅、茶碗蒸し、寿司12貫、赤出し</span></th>
                                <td>12,000円</td>
                            </tr>
                        </tbody>
                    </table>
                    <p class="note">※おまかせのコースは2名様より承ります。コースによって寿司ネタ・料理の内容も異なります。</p>
                </div>
                <div style="margin-top:50px; margin-bottom:30px">
                    <img src="../images/common/enkai1.jpg" alt="enkai" width="710" height="70">
                </div>
                <!-- <h3>宴会</h3> -->
                <div class="menu">
                    <table cellspacing="0" cellpadding="0" border="0" summary="宴会" class="expand">
                        <tbody>
                            <tr>
                                <th>宴会コース<span>小鉢、刺身、一品料理、天婦羅、茶碗蒸し、寿司5貫<br>※予約制　2時間飲み放題付き・5名様から</span></th>
                                <td>6,000円</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div style="margin-top:50px; margin-bottom:30px">
                    <img src="../images/common/okosama1.jpg" alt="okosama" width="710" height="70">
                </div>
                <!-- <h3>お子様セット &#151; お子様に人気のネタをワサビ抜きでご用意します</h3> -->
                <div class="menu">
                    <table cellspacing="0" cellpadding="0" border="0" summary="お子様セット" class="expand">
                        <tbody>
                            <tr>
                                <th>小鉢、茶碗蒸し、にぎり（赤身、サーモン、イクラ、エビ、玉子）、細巻3貫</th>
                                <td>1,500円</td>
                            </tr>
                            <tr>
                                <th>小鉢、茶碗蒸し、にぎり（トロ、赤見、サーモン炙り、サーモン、イクラ、エビ、玉子）、細巻1本</th>
                                <td>2,500円</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="att">※季節・仕入れにより、商品内容が変更になる場合がございますので、予め御了承ください。</div>
                <div class="top_link">
                    <a href="#headerNavi"><img alt="TOPに戻る" src="../images/common/top_link.gif" width="82"
                            height="20"></a>
                </div>
            </div>
        </div>
    </div>
</div>