<div id="content">
 <div id="path">
 <a href="http://localhost:3000/home">HOME</a>
 </div>
 <div id="menu">
  <h2>おしながき：おまかせ</h2>
  <div id="categoryNavigation">
   <li><strong>おまかせ</strong></li>
   <li><a href="http://localhost:3000/nigiri">にぎり</a></li>
   <li><a href="http://localhost:3000/alacarte">一品料理</a></li>
   <li><a href="http://localhost:3000/drink">お飲み物</a></li>
  </div>
 </div>
 <%= render @dishes %>
 <h4>a</h4>
</div>