<div id="contentsInner" class="clear">
    <div id="sideAlpha">
        <!--
        <div style="margin-bottom: 5px; "><a href="/plan/" title="限定プラン"><img src="http://www.sushiyoshi-yamasa.jp/images/common/plan_banner.gif" alt="ホームページ開設記念限定プランご紹介" width="210" height="100"></a></div>
        -->
        <ul>
            <li class="alpha"><a href="/menu/" title="おしながき">おしながき</a></li>
            <li class="beta"><a href="/quality/" title="当店のこだわり">当店のこだわり</a></li>
            <li class="gamma"><a href="/about/" title="店内のご案内">店内のご案内</a></li>
            <li class="delta"><a href="/delivery/" title="出前メニュー">出前メニュー</a></li>
            <!--<li class="epsilon"><a href="/shopping/" title="お取り寄せ">お取り寄せ</a></li>
            <li class="close"><img alt="店休日" src="../images/common/close.jpg" width="200" height="25" /><br />6/4(月)、6/11(月)、6/18(月)、6/25(月)</li>
            -->
            <li>
                <img alt="お問い合わせはこちらから" src="/images/common/sideBeta00.gif" width="210" height="30">
                <div
                    style="margin: 0 0 15px 0; padding: 10px; width: 190px; background: #000; font-size: 12px !important;">
                    <strong style="color: #d5c010; font-size: 24px; font-weight: 700; display: block;">
                        <span style="margin: 0 0.1em 0 0; font-size: 20px;">☎</span>0952-20-1239
                    </strong>
                    店舗営業時間／18:00〜23:00<br>
                    店休日／月曜日
                </div>
            </li>
            <li class="zeta">山沙商店「すし芳」宅配専用ダイヤル TEL.0952-20-1238</li>
            <li class="eta"><a href="/access/" title="交通アクセス">交通アクセス</a></li>
        </ul>
    </div>
    <div id="content">
        <div id="path">
            <a href="../">HOME</a> &gt; 限定プラン
        </div>
        <div id="menu">
            <h2>限定プラン</h2>
            <!-- <p>通常6,000円のご宴会・飲み放題（2時間）のコースが、平日5,000円にてお楽しみいただけます。<br />※一日、2組様限定（1組5名様から）となります。ご了承ください。</p> -->
            <div class="menu">
                <dl class="clear">
                    <p>只今 準備中でございます。</p>
                    <!-- 
                    <dt>
                        <strong>平日限定2組　宴会コース</strong>
                        <p>小鉢、刺身、一品料理、天婦羅、茶碗蒸し、寿司5貫<br />※予約制　2時間飲み放題付き</p>
                        <p class="price">5,000円</p>
                    </dt>
                    <dd><img alt="" src="./images/gentei.jpg" width="280" height="370" /></dd>
                    -->
                </dl>
            </div>
            <div class="top_link">
                <a href="#headerNavi"><img alt="TOPに戻る" src="../images/common/top_link.gif" width="82" height="20"></a>
            </div>
        </div>
    </div>
</div>