<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title"><%= voice.title %></h5>
    <p class="card-text"><%= voice.detail %></p>
    <p class="card-text"><%= voice.price %></p>
  </div>
</div>