<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title"><%= nigiri.title %></h5>
    <p class="card-text"><%= nigiri.detail %></p>
    <p class="card-text"><%= nigiri.price %></p>
  </div>
</div>