<div id="contentsInner" class="clear">
    <div id="path">
        <a href="../">HOME</a> &gt; スタッフ紹介
    </div>
    <div id="staff">
        <h2>スタッフ紹介</h2>
        <p>只今 準備中でございます。</p>
        <!-- この一行でIntroductionの一覧を表示 -->
        <!-- <%= render @staffs %> -->
    </div>
</div>

<!-- 
            <p>山沙商店「すし芳」で働くスタッフをご紹介いたします。</p>
            <ul>
                <li class="left clear">
                    <h3>店主　山田哲慎</h3>
                    <img alt="" src="./images/yamada.jpg" width="100" height="100" />
                    <strong>「すべてはお客様のために」</strong>
                    ご来店されたすべてのお客様の「記憶」と「思い出」に残るような世界一のお店を目指しています。
                </li>
                <li class="right clear">
                    <h3>調理見習中  中ノ原祐司</h3>
                    <img alt="調理見習中  中ノ原祐司" src="./images/staff2.jpg" width="100" height="100" />
                    <strong>「開店当時から一貫して変わらない」</strong>
                    「すべてはお客様のために」をこれからも忘れずにやり続けます。<br />
                    日本一の調理人を目指します！
                </li>
                <li class="left clear">
                    <h3>ホールコンシェルジュ  あや</h3>
                    <img alt="ホールコンシェルジュ  あや" src="./images/staff4.jpg" width="100" height="100" />
                    <strong>「すし芳のホールリーダー」</strong>
                    お食事を楽しんで頂くために最高のおもてなしを目指して、頑張りますっ！
                </li>
                <li class="right clear">
                    <h3>ホールスタッフ  まき</h3>
                    <img alt="ホールスタッフ  まき" src="./images/shadow.jpg" width="100" height="100" />
                    <strong>「すし芳の天然ヒマワリ娘」</strong>
                    ご来店していただいた皆様に笑顔を伝染させます♪
                </li>
                <li class="left clear">
                    <h3>ホールスタッフ  あゆみ</h3>
                    <img alt="ホールスタッフ  あゆみ" src="./images/staff3.jpg" width="100" height="100" />
                    <strong>「すし芳の榮倉奈々」</strong>
                    スーパースマイルが取り柄です！ 身長173cm、バレーボーラーらしく、元気に笑顔で接客させていただきます！
                </li>
                <li class="right clear">
                    <h3>ホールスタッフ  朋美</h3>
                    <img alt="ホールスタッフ  朋美" src="./images/shadow.jpg" width="100" height="100" />
                    <strong>「すし芳のみんなの姉さん」</strong>
                    ピンチの時には駆けつける、スーパー裏方のヨッシーです
                </li>
            </ul>
            -->