<footer class="py-3 bg-light">
	<div id="globalFooter">
		<dl class="clear">
			<dt><a href="/" title="山沙商店「すし芳」">山沙商店「すし芳」</a></dt>
			<dd class="alpha">
				〒840-0824　佐賀市呉服元町9-2　TEL／0952-20-1239 ・宅配専用／0952-20-1238<br>
				■店舗営業時間／18:00〜23:00　■店休日／月曜日<br>
				■予約（宅配）受付時間／10:00〜　■宅配エリア／佐賀市内（一部地域を除く）
			</dd>
			<dd class="beta">
				<ul class="clear">
					<li class="alpha"><a href="http://localhost:3000/recruit" title="採用情報">採用情報</a></li>
					<li class="beta"><a href="http://localhost:3000/policy" title="サイトポリシー">サイトポリシー</a></li>
					<li class="gamma"><a href="http://localhost:3000/sitemap" title="サイトマップ">サイトマップ</a></li>
				</ul>
				<p>Copyright © 2020 SUSHIYOSHI. All rights reserved.</p>
			</dd>
		</dl>
	</div>
</footer>