<!-- <header class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <div class="row">
      <div class="col-xm">
        <li class="alpha"><a href="http://localhost:3000/access" title="交通アクセス">交通アクセス</a></li>
      </div>
      <div class="col-xm">
        <li class="beta"><a href="http://localhost:3000/staff" title="スタッフ紹介">スタッフ紹介</a></li>
      </div>
      <div class="col-xm">
        <li class="gamma"><a href="http://localhost:3000/voice" title="お客様の声">お客様の声</a></li>
      </div>
      <div class="col-xm">
        <li class="delta"><a href="http://localhost:3000/inquiry" title="お問い合わせ">お問い合わせ</a></li>
      </div>
    </div>
  </div>
</header> -->

<header>
  <ul class="clear">
    <li class="alpha"><a href="/access" title="交通アクセス">交通アクセス</a></li>
    <li class="beta"><a href="/staff/" title="スタッフ紹介">スタッフ紹介</a></li>
    <li class="gamma"><a href="/voice/" title="お客様の声">お客様の声</a></li>
    <li class="delta"><a href="/inquiry/" title="お問い合わせ">お問い合わせ</a></li>
  </ul>
</header>