<header class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <%= link_to '山沙商店 すし芳', :posts, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="headerNavi", class="container">
  <div class="row">
    <div class="col-sm">
    <li class="alpha"><a href="http://localhost:3000/access" title="交通アクセス">交通アクセス</a></li>
    </div>
    <div class="col-sm">
    <li class="beta"><a href="http://localhost:3000/staff" title="スタッフ紹介">スタッフ紹介</a></li>
    </div>
    <div class="col-sm">
    <li class="gamma"><a href="http://localhost:3000/voice" title="お客様の声">お客様の声</a></li>
    </div>
    <div class="col-sm">
    <li class="delta"><a href="http://localhost:3000/inquiry" title="お問い合わせ">お問い合わせ</a></li>
    </div>
</div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
   <ul class="navbar-nav ml-auto">
   </ul>
  </div>
</header>