    <div id="path">
        <a href="../">HOME</a> &gt; 交通アクセス
    </div>
    <div id="access">
        <h2>交通アクセス</h2>
        <h3>遠方よりお越しのお客様へ</h3>
        <table cellspacing="0" cellpadding="0" border="0">
            <tbody>
                <tr>
                    <th>主要スポット</th>
                    <th>交通手段と時間</th>
                </tr>
                <tr>
                    <td>福岡天神</td>
                    <td>天神→福岡市営地下鉄→JR博多駅→JR佐賀駅→徒歩（1時間22分程度）</td>
                </tr>
                <tr>
                    <td>福岡JR博多駅</td>
                    <td>JR博多駅→JR佐賀駅→徒歩（1時間4分程度）</td>
                </tr>
                <tr>
                    <td>福岡空港</td>
                    <td>高速バス→JR佐賀駅→徒歩（1時間36分程度）</td>
                </tr>
                <tr>
                    <td>九州新幹線新鳥栖駅</td>
                    <td>JR新鳥栖駅→JR佐賀駅→徒歩（34分程度）</td>
                </tr>
                <tr>
                    <td>JR佐賀駅</td>
                    <td>徒歩（21分程度）</td>
                </tr>
                <tr>
                    <td>有明佐賀空港</td>
                    <td>連絡バス→JR佐賀駅→徒歩（1時間0分程度）</td>
                </tr>
                <tr>
                    <td>高速佐賀大和インター</td>
                    <td>車で28.1 km（38分程度）</td>
                </tr>
            </tbody>
        </table>
        <div class="add">
            ※　運行時間や料金などの詳細については、ご利用される各交通機関へお問い合わせください。
        </div>
        <div id="map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3336.477488935525!2d130.30267391519428!3d33.25398968083069!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3541ca76a08b8701%3A0xc5c733cd0d4dfd73!2z5bGx5rKZ5ZWG5bqX44CM44GZ44GX6Iqz44CN!5e0!3m2!1sja!2sjp!4v1552879324381"
                width="600" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe>
        </div>
        <h3>お車でお越しのお客様へ（駐車場のご案内）</h3>
        <div id="map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d3336.4774903994926!2d130.30266318610555!3d33.253989642491604!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1z6aeQ6LuK5aC0!5e0!3m2!1sja!2sjp!4v1552877883640"
                width="600" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe>
        </div>
    </div>