<div id="contentsInner" class="clear">
    <div id="sideAlpha">
        <!-- <div style="margin-bottom: 5px; "><a href="/plan/" title="限定プラン"><img
                    src="http://www.sushiyoshi-yamasa.jp/images/common/plan_banner.gif" alt="ホームページ開設記念限定プランご紹介"
                    width="210" height="100"></a></div> -->
        <ul>
            <li class="alpha"><a href="/menu/" title="おしながき">おしながき</a></li>
            <li class="beta"><a href="/quality/" title="当店のこだわり">当店のこだわり</a></li>
            <li class="gamma"><a href="/about/" title="店内のご案内">店内のご案内</a></li>
            <li class="delta"><a href="/delivery/" title="出前メニュー">出前メニュー</a></li>
            <!-- <li class="epsilon"><a href="/shopping/" title="お取り寄せ">お取り寄せ</a></li>
            <li class="close"><img alt="店休日" src="../images/common/close.jpg" width="200"
                    height="25" /><br />6/4(月)、6/11(月)、6/18(月)、6/25(月)</li> -->
        </ul>
    </div>
    <div id="content" style="width: 470px;">
        <h2>新着情報</h2>
        <dl id="information">

            <dt>2019.05.30</dt>
            <dd><a href="https://sushiyoshi-yamasa.jp/information/./000019.html">新規出店、及び、リニューアルオープンに伴う休業のお知らせ</a>
            </dd>



            <dt>2012.10.01</dt>
            <dd><a href="https://sushiyoshi-yamasa.jp/information/./000010.html">「おしながき」をご紹介します。</a></dd>



            <dt>2012.03.15</dt>
            <dd>すし芳 山沙商店のウェブサイトがオープンしました！！</dd>

        </dl>
        <iframe
            src="https://www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2F%25E5%25B1%25B1%25E6%25B2%2599%25E5%2595%2586%25E5%25BA%2597-%25E3%2581%2599%25E3%2581%2597%25E8%258A%25B3%2F458231240934692&amp;width=470&amp;height=400&amp;show_faces=false&amp;colorscheme=light&amp;stream=true&amp;show_border=true&amp;header=true&amp;appId=440174716080438"
            scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:470px; height:400px;"
            allowtransparency="true" title="佐賀市の寿司会席で接待・ディナー　すし芳"></iframe>
    </div>
    <div id="sideBeta">
        <img alt="お問い合わせはこちらから" src="/images/common/sideBeta00.gif" width="210" height="30">
        <div style="margin: 0 0 15px 0; padding: 10px; background: #000; font-size: 12px !important;">
            <strong style="color: #d5c010; font-size: 24px; font-weight: 700; display: block;">
                <span style="margin: 0 0.1em 0 0; font-size: 20px;">☎</span>0952-20-1239
            </strong>
            店舗営業時間／18:00〜23:00<br>
            店休日／月曜日
        </div>
        <ul>
            <li class="alpha">山沙商店「すし芳」宅配専用ダイヤル TEL.0952-20-1238</li>
            <li class="beta"><a href="/access/" title="交通アクセス">交通アクセス</a></li>
        </ul>
        <iframe
            src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.sushiyoshi-yamasa.jp%2F&amp;send=false&amp;layout=button_count&amp;width=200&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21"
            scrolling="no" frameborder="0"
            style="border:none; overflow:hidden; width:200px; height:21px; margin-top:20px;"
            allowtransparency="true"></iframe>
    </div>
</div>