<div id="contentsInner" class="clear">
    <div id="sideAlpha">
        <!--
        <div style="margin-bottom: 5px; "><a href="/plan/" title="限定プラン"><img src="http://www.sushiyoshi-yamasa.jp/images/common/plan_banner.gif" alt="ホームページ開設記念限定プランご紹介" width="210" height="100"></a></div>
        -->
        <ul>
            <li class="alpha"><a href="/menu/" title="おしながき">おしながき</a></li>
            <li class="beta"><a href="/quality/" title="当店のこだわり">当店のこだわり</a></li>
            <li class="gamma"><a href="/about/" title="店内のご案内">店内のご案内</a></li>
            <li class="delta"><a href="/delivery/" title="出前メニュー">出前メニュー</a></li>
            <!--<li class="epsilon"><a href="/shopping/" title="お取り寄せ">お取り寄せ</a></li>
            <li class="close"><img alt="店休日" src="../images/common/close.jpg" width="200" height="25" /><br />6/4(月)、6/11(月)、6/18(月)、6/25(月)</li>
            -->
            <li>
                <img alt="お問い合わせはこちらから" src="/images/common/sideBeta00.gif" width="210" height="30">
                <div
                    style="margin: 0 0 15px 0; padding: 10px; width: 190px; background: #000; font-size: 12px !important;">
                    <strong style="color: #d5c010; font-size: 24px; font-weight: 700; display: block;">
                        <span style="margin: 0 0.1em 0 0; font-size: 20px;">☎</span>0952-20-1239
                    </strong>
                    店舗営業時間／18:00〜23:00<br>
                    店休日／月曜日
                </div>
            </li>
            <li class="zeta">山沙商店「すし芳」宅配専用ダイヤル TEL.0952-20-1238</li>
            <li class="eta"><a href="/access/" title="交通アクセス">交通アクセス</a></li>
        </ul>
    </div>
    <div id="content">
        <div id="path">
            <a href="../">HOME</a> &gt; 当店のこだわり
        </div>
        <div id="quality">
            <h2>当店のこだわり</h2>
            <p>
                上質なときを すし芳で…<br>
                隠れ家にいるような、ゆったり落ち着いた雰囲気の中で<br>心づくしのおもてなしと、創作料理、江戸前の握りを楽しんでいただける空間を提供いたします。
            </p>
            <h3>仕入れ － 地元九州の天然・生・釣り物にこだわる。</h3>
            <p class="clear">
                玄界灘、有明海、豊後水道など地元の豊かな漁場でとれた新鮮な魚を使います。特に白身は、天然・生・釣り物にこだわっています。ノドグロは対馬のブランド「紅瞳」を、穴子も対馬産の脂の乗った肉厚の上物を、赤ウニは、銀座や博多の名店でも使われる唐津産を使っています。<br>平目は、玄海の荒波で育っており、身が締まっています。<br>海苔は南川副漁港から佐賀海苔を直送して仕入れています。
            </p>
            <h3>仕込み － 江戸前の技で旨みを引きだす。</h3>
            <p class="clear">
                江戸前の技は、ネタの旨みを引き出すためにあります。仕込み8割、握り2割といわれる大切な仕事です。<br>江戸前の技は、「締める」「煮る」「焼く」「炙る」「蒸す」など、ネタによって素材が生きるように使い分けます。
            </p>
            <img alt="仕入れと仕込みのイメージ" src="./images/img1.jpg" width="640" height="425">
            <h3>器 － カウンター専用の器も用意しています。</h3>
            <p class="clear">
                器には、土物の温かみや味のあるものにこだわっています。すべて特注にて手作りしていただいたものなので、まったく同じ形・色の器はありません。カウンターの器は、黒と白のシックでモダンな器を産み出す、作家「にしだゆか」さんの作品です。<br>料理と一緒に、器もお楽しみください。<br>冷酒の際には片口、おちょこは本錫100%で格別な味わいを…。錫の持つ、高いイオン効果によってお酒の味わいを柔らかくまろやかにし、より一層おいしいお酒を楽しむことができます。
            </p>
            <h3>小物</h3>
            <p>
            </p>
            <table border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <th>京都 ごま竹箸</th>
                        <td>京都の名工が作った天然ごま竹のお箸です。竹特有のしなりがあるので、食材全般としても食べ易くできています。</td>
                    </tr>
                    <tr>
                        <th>コースター・座布団・ふくさ</th>
                        <td>伝統工芸「久留米絣」を使って、当店にてハンドメイドしています。優しく温かさを感じます。</td>
                    </tr>
                    <tr>
                        <th>おしながき</th>
                        <td>肥前名尾和紙を使用し、柔らかく味わいのあるメニュー表をこちらも当店にてハンドメイドしています。</td>
                    </tr>
                </tbody>
            </table>
            <p></p>
            <img alt="器と小物のイメージ" src="./images/img2.jpg" width="640" height="425">
        </div>
    </div>
</div>