<div id="contentsInner" class="clear">
    <div id="sideAlpha">
        <!--
        <div style="margin-bottom: 5px; "><a href="/plan/" title="限定プラン"><img src="http://www.sushiyoshi-yamasa.jp/images/common/plan_banner.gif" alt="ホームページ開設記念限定プランご紹介" width="210" height="100"></a></div>
        -->
        <ul>
            <li class="alpha"><a href="/menu/" title="おしながき">おしながき</a></li>
            <li class="beta"><a href="/quality/" title="当店のこだわり">当店のこだわり</a></li>
            <li class="gamma"><a href="/about/" title="店内のご案内">店内のご案内</a></li>
            <li class="delta"><a href="/delivery/" title="出前メニュー">出前メニュー</a></li>
            <!--<li class="epsilon"><a href="/shopping/" title="お取り寄せ">お取り寄せ</a></li>
            <li class="close"><img alt="店休日" src="../images/common/close.jpg" width="200" height="25" /><br />6/4(月)、6/11(月)、6/18(月)、6/25(月)</li>
            -->
            <li>
                <img alt="お問い合わせはこちらから" src="/images/common/sideBeta00.gif" width="210" height="30">
                <div
                    style="margin: 0 0 15px 0; padding: 10px; width: 190px; background: #000; font-size: 12px !important;">
                    <strong style="color: #d5c010; font-size: 24px; font-weight: 700; display: block;">
                        <span style="margin: 0 0.1em 0 0; font-size: 20px;">☎</span>0952-20-1239
                    </strong>
                    店舗営業時間／18:00〜23:00<br>
                    店休日／月曜日
                </div>
            </li>
            <li class="zeta">山沙商店「すし芳」宅配専用ダイヤル TEL.0952-20-1238</li>
            <li class="eta"><a href="/access/" title="交通アクセス">交通アクセス</a></li>
        </ul>
    </div>
    <div id="content">
        <div id="path">
            <a href="../">HOME</a> &gt; サイトポリシー
        </div>
        <div id="policy">
            <h2>サイトポリシー</h2>
            <p>
                このウェブサイト（以下「本サイト」）は山沙商店「すし芳」（以下「当店」）が運営しております。<br>
                本サイトのご利用に際し、事前に以下のご利用条件をお読みいただき、これらの条件にご同意の上ご利用ください。
            </p>
            <h3>個人情報の取り扱いについて</h3>
            <p>当店は、プライバシーポリシーに従い、お客様の個人情報を適正に取り扱うことをお約束いたします。詳細は<a href="../privacy/">こちら</a>をご覧ください。</p>
            <h3>著作権について</h3>
            <ol>
                <li>本サイトに掲載されているすべての著作物（文章・写真・画像・プログラム等）に関する著作権、またその他の権利は、当店または当店に使用を認めた権利者に帰属しますので、私的使用など法律によって認められる範囲を超えて、無断で使用（複製、改竄、頒布などを含む）することはできません。
                </li>
                <li>当店からお客様に電子メールをお送りした場合には、その内容に関する著作権も、全て当店に帰属しますので、無断で転用・転載することはできません。</li>
                <li>本サイトでのアンケート・キャンペーンなどへのお客様からのご回答またはご応募の際にお客様から当店にご提供いただいた情報などについて、当店は、個人情報に関わるものを除き、お客様に通知することなく、自由にこれを利用・二次利用することができるものとさせていただきますので、予めご了承下さい。
                </li>
            </ol>
            <h3>商標について</h3>
            <p>本サイトで使用される商標は、当店または当店に使用を認めた権利者に帰属しますので、無断で使用することはできません。</p>
            <h3>リンクサイトについて</h3>
            <p>
                本サイトから、または本サイトへリンクしている当店以外の第三者のウェブサイト（以下「リンクサイト」）は、それぞれのリンクサイトの責任において運営・管理されているため、お客様がこれらのリンクサイトをご利用する際は、それぞれのリンクサイトに記載されているご利用条件に従った上でご利用ください。<br>
                各リンクサイトの内容およびそれらのリンクサイトの利用によって生じる一切の損害について、当店は、いかなる責任も負いません。
            </p>
            <h3>免責について</h3>
            <ol>
                <li>当店は、本サイトに掲載されている全ての情報を慎重に作成し、また管理しますが、その正確性および完全性などに関して、いかなる保証もするものではありません。</li>
                <li>当店は、システムの保守・障害、火災・停電・地震等の天災、その他運用・技術上、当サイトの情報提供の一時中断が必要であると判断した場合には、事前予告なしに、本サイトの運営を停止または中止し、また本サイトに掲載されている情報の全部または一部を変更する場合があります。
                </li>
                <li>お客様が本サイトをご利用されたこと、または何らかの原因によりこれをご利用できなかったことによりお客様に生じる一切の損害および第三者によるデータの書き込み、不正なアクセス、発言、メールの送信等に関して生じる一切の損害（お客様同士の間でトラブルが生じ、これによりお客様が被る損害を含む）について、当店は、何ら責任を負うものではありません。
                </li>
            </ol>
            <h3>ご利用環境について</h3>
            <p>
                本サイトのご利用にあたっては、以下の環境を推奨いたします。<br>
                推奨環境以外でのご利用や、推奨環境下でもお客様のブラウザの設定によっては、正しく表示されない場合がございます。ご了承ください。
            </p>
            <ol>
                <li>
                    <h4>推奨ブラウザについて</h4>
                    <p>
                        本サイトは、以下の環境で動作確認をしております。<br>
                        ・Microsoft Windows XP, Vista以降のOSを搭載したパソコン上で動作するInternet Explorer 8、Firefox 4<br>
                        ・Apple MacOS X 10.6以降のOSを搭載したパソコン上で動作する Safari 5、Firefox 4<br>
                        その他の環境では、一部正常に閲覧できない場合もございます。予めご了承ください。
                    </p>
                </li>
                <li>
                    <h4>プラグインについて</h4>
                    <p>
                        本サイトは、動画やアニメーションを使用したコンテンツをご用意しています。<br>
                        コンテンツをご覧いただくためにはプラグインソフトが必要です。お客様のご利用環境に適した最新のプラグインソフトをご利用ください。
                    </p>
                </li>
                <li>
                    <h4>JavaScriptやCSSについて</h4>
                    <p>
                        本サイトはご利用ブラウザの設定が、以下に、設定されていることを前提としています。<br>
                        ・Javaを有効にする。<br>
                        ・JavaScriptを有効にする。<br>
                        ・スタイルシートを有効にする。<br>
                        正常に閲覧できない場合、ご利用ブラウザの上記設定をご確認ください。
                    </p>
                </li>
                <li>
                    <h4>クッキー (cookie) の使用について</h4>
                    <p>
                        本サイトの一部では、「クッキー」という仕組みを利用したページがあります。「クッキー」は、利用者が本サイトをご覧になったという情報をその利用者のコンピューター内に記憶させておく仕組みです。この仕組みは、お客様に本サイト上で、よりよいサービスを提供するためのみに使用し、お客様を特定できる個人情報は一切含まれておりません。<br>
                        クッキーの設定を解除したい場合は、ブラウザの設定で変更いただけます。ただし、クッキーなしでは内容に制限が生じるサービスや利用できないサービスもございますので、その旨あらかじめご了承ください。
                    </p>
                </li>
                <li>
                    <h4>SSL (Secure Socket Layer) について</h4>
                    <p>
                        SSLとは、インターネット上で情報を暗号化して送受信する業界標準の通信手順です。<br>
                        本サイトは、SSLを導入しておりますので、お客様が入力する情報は、暗号化により傍受を防止しております。
                    </p>
                </li>
            </ol>
        </div>
    </div>
</div>