<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title"><%= other.title %></h5>
    <p class="card-text"><%= other.detail %></p>
    <p class="card-text"><%= other.price %></p>
  </div>
</div>