<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title"><%= delivery.title %></h5>
    <p class="card-text"><%= delivery.detail %></p>
    <p class="card-text"><%= delivery.price %></p>
  </div>
</div>