<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title"><%= thought.title %></h5>
    <p class="card-text"><%= thought.detail %></p>
    <p class="card-text"><%= thought.price %></p>
  </div>
</div>