<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title"><%= staff.title %></h5>
    <p class="card-text"><%= staff.detail %></p>
    <p class="card-text"><%= staff.price %></p>
  </div>
</div>