<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title"><%= alacarte.title %></h5>
    <p class="card-text"><%= alacarte.detail %></p>
    <p class="card-text"><%= alacarte.price %></p>
  </div>
</div>