<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title"><%= drink.title %></h5>
    <p class="card-text"><%= drink.detail %></p>
    <p class="card-text"><%= drink.price %></p>
  </div>
</div>