<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title"><%= morikomi.title %></h5>
    <p class="card-text"><%= morikomi.detail %></p>
    <p class="card-text"><%= morikomi.price %></p>
  </div>
</div>