<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title"><%= dish.title %></h5>
    <p class="card-text"><%= dish.detail %></p>
    <p class="card-text"><%= dish.price %></p>
  </div>
</div>